<header>
  <h1>Hello World</h1>
  <p><%= @century_link_crimes %></p>
</header>
<div id="map"></div>
<div class="data-overview container"></div>
<div class="deep-data container"></div>
<footer></footer>