<header>
  <div class="row">
    <h1 class="main-title col-sm-6">Game Day Criminality</h1>
    <select class="year-selection form-control input-lg col-sm-3 pull-right">
      <option>Select Year</option>
      <option value=2012>2012</option>
      <option value=2013>2013</option>
      <option value=2014>2014</option>
    </select>
    <select class="team-selection form-control input-lg col-sm-3 pull-right">
      <option>Select Team Name</option>
      <% @nfl_teams.each do |team_name| %>
        <option value=<%=team_name[0]%>><%=team_name[1]%></option>
      <% end %>
    </select>
  </div>
</header>
<div class="container">
  <div id="map"></div>

  <div class="data-overview">
    <h2 class="chart-title">Overview of Crime</h2>
    <div id="overview-bar-chart"></div>
  </div>

  <div class="deep-data"></div>
  <footer></footer>
</div>